DJANGO_SECRET_KEY=admin123
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=yourdomain.com www.yourdomain.com
DATABASE_URL=postgres://user:password@hostname:5432/dbname
CLOUDINARY_URL=cloudinary://<api_key>:<api_secret>@<cloud_name>
CLOUDINARY_CLOUD_NAME=dzw6x5etr 
CLOUDINARY_API_KEY=663392247687695
CLOUDINARY_API_SECRET=keyzav3JI9z2jofAAht1mF9bvbt6Ek
